/* NoteList.css */
.note-list-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.note-input {
    margin: 20px 0;
}

.note-list {
    list-style-type: none;
    padding: 0;
}

.note-item {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    text-align: left;
    word-wrap: break-word;
    margin: 10px 0;
    position: relative;
}

.note-item div {
    display: flex;
    justify-content: space-between;
}

.editing {
    background-color: #FFFFE0;
    /* Background color for editing mode */
}

.add-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #0056b3;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}